<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台首页</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    
    <% include header.html %>
    <% include left.html %>
    <div class="right">
        <ul>
            <%arr.forEach(item=>{%>
                <li>name：<%=item.username%>, age：<%=item.password%></li>
            <%})%>
        
        </ul>
    </div>
</body>
</html>